<app-loading-spinner name="edit-dialog-loading-image"></app-loading-spinner>
<h1 mat-dialog-title>Edit Image</h1>
<div mat-dialog-content style="height: 100%; width: 100%;">
  <!--<img [src]="imgSrc" #Image [ngClass]="imgCssClass" style="margin: 0!important;">-->
  <image-cropper
    [imageURL]="imgSrc.url"
    [imageBase64]="imgSrc.base64 ? imgSrc.base64.toString() : null"
    [maintainAspectRatio]="true"
    [aspectRatio]="cropperAspectRatio"
    (imageCropped)="imageCropped($event)"
    (cropperReady)="cropperReady()"
    style="max-width: 100% !important; max-height: 100%; padding: 0;"
    class="absolut-center"
    [canvasRotation]="canvasRotation"
    (imageLoaded)="imageLoaded()"
  >
  </image-cropper>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    matTooltip="Rotate image by 90 degrees counter-clockwise"
    matTooltipPosition="above"
    (click)="rotate90CounterClockwise()"
  ><mat-icon>rotate_left</mat-icon></button>
  <button
    mat-button
    matTooltip="Rotate image by 90 degrees clockwise"
    matTooltipPosition="above"
    (click)="rotate90Clockwise()"
  ><mat-icon>rotate_right</mat-icon></button>
  <button
    matTooltip="Close this editor and discard changes"
    matTooltipPosition="above"
    mat-button
    cdkFocusInitial
    matDialogClose=""
  >Cancel</button>
  <button
    mat-button
    matTooltip="Close this editor and apply changes"
    matTooltipPosition="above"
    (click)="processEditAndCloseDialog()"
  >Ok</button>
</div>
