<app-header (go-back)="reloadApp()" [title]="getToolbarTitle()"></app-header>

<div class="container">
  <h2>Feedback form</h2>
  <form #ff="ngForm" (ngSubmit)="onSubmit(ff)" novalidate>


    <input type="hidden" name="_id" [(ngModel)]="feedbackService.selectedFeedback._id">

    <mat-list-item>1. This tool was helpful.</mat-list-item><br>
    <mat-radio-group aria-label="Select an option" name="wasHelpful" [(ngModel)]="feedbackService.selectedFeedback.wasHelpful">
      <mat-radio-button value="1">Strongly agree</mat-radio-button>
      <mat-radio-button value="2">Agree</mat-radio-button>
      <mat-radio-button value="3">Neutral</mat-radio-button>
      <mat-radio-button value="4">Disagree</mat-radio-button>
      <mat-radio-button value="5">Strongly disagree</mat-radio-button>
    </mat-radio-group>
    <br><br><mat-divider></mat-divider>

    <mat-list-item>2. The interface was good.</mat-list-item><br>
    <mat-radio-group aria-label="Select an option" name="uiIsGood" [(ngModel)]="feedbackService.selectedFeedback.uiIsGood">
      <mat-radio-button value="1">Strongly agree</mat-radio-button>
      <mat-radio-button value="2">Agree</mat-radio-button>
      <mat-radio-button value="3">Neutral</mat-radio-button>
      <mat-radio-button value="4">Disagree</mat-radio-button>
      <mat-radio-button value="5">Strongly disagree</mat-radio-button>
    </mat-radio-group>
    <br><br><mat-divider></mat-divider>

    <mat-list-item>3. Would you use this tool to publish your educational ressources as OER?</mat-list-item><br>
    <mat-radio-group aria-label="Select an option" name="iWillUseIt" [(ngModel)]="feedbackService.selectedFeedback.iWillUseIt">
      <mat-radio-button value="yes">Yes</mat-radio-button>
      <mat-radio-button value="no">No</mat-radio-button>
    </mat-radio-group>
    <br><br><mat-divider></mat-divider>

    <mat-list-item>4. Would you recommend this tool to others?</mat-list-item><br>
    <mat-radio-group aria-label="Select an option" name="recommendOthers" [(ngModel)]="feedbackService.selectedFeedback.recommendOthers">
      <mat-radio-button value="yes">Yes</mat-radio-button>
      <mat-radio-button value="no">No</mat-radio-button>
    </mat-radio-group>
    <br><br><mat-divider></mat-divider>

    <mat-list-item>5. Your suggestions on improving the tool.</mat-list-item><br>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment" name="suggestions" [(ngModel)]="feedbackService.selectedFeedback.suggestions"></textarea>
    </mat-form-field>
    <br><br><mat-divider></mat-divider>



    <h1 *ngIf="showMessageToUser">Thank you for your feedback.</h1>
    <button (click)="feedbackAction()" mat-raised-button color="accent" [disabled]="!ff.valid">Send feedback</button>
  </form>
</div>  
