@import "src/styles";

.container {
  padding: 1em;
  box-sizing: border-box;
  @extend .stretch-x;
  @extend .stretch-y;
  background-color: $default-background-color;

  textarea {
    height: 100%;
  }
}

button {
  bottom: 1em;
  right: -1em;
  left: 1em;
  position: absolute;
  width: calc(100% - 2em);
  box-sizing: border-box;
}

//newly added by Mohib... for the new feedback form...
// .example-h2 {
//   margin: 10px;
// }

// .example-section {
//   display: flex;
//   align-content: center;
//   align-items: center;
//   height: 60px;
// }

// .example-margin {
//   margin: 10px;
// }

// .mat-slider-horizontal {
//   width: 300px;
// }

// .mat-slider-vertical {
//   height: 300px;
// }

// .example-container {
//   display: flex;
//   flex-direction: column;
// }

// .example-container > * {
//   width: 100%;
// }

// .custom-justify {
//   text-align: justify;
//   text-align-last: center;
//   padding: 0 10px 0 10px;
// }

.mat-radio-button ~ .mat-radio-button {
  margin-left: 36px;
}

.example-full-width {
  width: 80%;
}
