.wrapper {
  display: block;
  box-sizing: border-box;
  padding-top: .6em;

  #go-back {
    float: left;
    margin-left: 1em;
  }

  #title {
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  #button-see-selected-image-from-file {
    float: right;
    margin-right: 1em;
  }

  #more-button {
    float: right;
    margin-right: 1em;
  }

  #actions {
    float: right; margin-right: 1em;

    .mat-button-toggle-group {
      .button-save-file {
        padding-left: 2em;
        padding-right: 2em;
      }

      .drop-down-button {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        padding: 0;
        .mat-icon {
          margin: 0;
        }
      }
    }

    .split {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}


/*mat-button-toggle {
  color: white;
}

.mat-button-toggle-checked {
  color: white;
}

::ng-deep mat-button-toggle.split-button-1 {
  // background-color: blue;
}

::ng-deep mat-button-toggle.split-button-2 {
  background-color: green;
}

::ng-deep mat-button-toggle.drop-down-button {
  // margin-left: 1px;
}*/
