<div class="wrapper">
  <mat-card *ngFor="let image of images">
    <mat-card-content style="">
      <app-image-from-file style="max-height: 100%; max-width: 100%" [image]="image" (click)="onSelect($event)" [clear-selection]="_subjectClearSelectedImage.asObservable()"></app-image-from-file>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button matTooltip="Choose this image for further actions" (click)="onSelect(image)">Choose</button>
      <button mat-button matTooltip="See the image in almost fullscreen">See big</button>
    </mat-card-actions>
  </mat-card>
</div>
