@import "src/styles";

.wrapper {
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 1%;
  box-sizing: border-box;

  /*div {
    margin-top: 1em;
    margin-bottom: 1em;
  }*/

  mat-card {
    margin: .5%;
    float: left;

    mat-card-content {
      width: 350px;
      height: 350px;
      @extend .pointer-on-hover;
    }
  }

  /*.viewport {
    height: 800px;
    width: 100%;
    background: #C4BBB8;
    box-shadow: 1px 1px 1px grey;
  }*/
}
