<h1 mat-dialog-title>Welcome to {{_session.getToolName()}} {{_session.getCurrentToolVersion()}}</h1>
<div mat-dialog-content>
  <mat-horizontal-stepper linear labelPosition="bottom" #stepper [formGroup]="stepperFormGroup" (selectionChange)="onStepChange($event)">
    
    
    
    <!-- ****************************
    Selecting file Stepper... 
    **************************** -->
    <mat-step label="Choose file" state="chooseFile" [stepControl]="stepperFormGroup.get('chosenFile')">
      <h5>
        Allowed formats are --> {{getFileFormats(1)}}, {{getFileFormats(2)}}
      </h5>
      <app-import-file (file-import)="onFileImport($event)"></app-import-file>
      <br><br>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>



    <!-- *********************************
    First name and Last name Stepper...
    ********************************* -->
    <mat-step label="Enter Name" state="enterUserName" [stepControl]="stepperFormGroup.get('userName')">
      <mat-form-field>
        <mat-label>Enter your first and last name</mat-label>
        <input matInput placeholder="please enter your name" formControlName="userName">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <!-- ****************************
    license short and long forms; along with 'More info..' links added...
    **************************** -->
    <mat-step label="Enter Target License" state="enterTargetLicense" [stepControl]="stepperFormGroup.get('targetLicense')">
      <mat-form-field style="width: 100%;">
        <mat-label>Choose the targeted license</mat-label>
        <mat-select formControlName="targetLicense" required>
          <mat-option *ngFor="let license of licenses" [value]="license">
            {{getLicenseShortName(license)}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      {{getLicenseShortName(1)}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --> <em>{{getLicenseFullName(1)}}</em> --> <a href="https://creativecommons.org/publicdomain/zero/1.0/">More info..</a>
      <br>

      {{getLicenseShortName(2)}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --> <em>{{getLicenseFullName(2)}}</em> --> <a href="https://creativecommons.org/licenses/by/4.0/">More info..</a>
      <br>
      
      {{getLicenseShortName(3)}} --> <em>{{getLicenseFullName(3)}}</em> --> <a href="https://creativecommons.org/licenses/by-sa/4.0/">More info..</a>
      <br>
      <br>
      <br>
      <!-- The target license will limit the choice of licenses throughout the tool. This means, if you i.e. choose
      <em>{{getLicenseFullName(2)}}</em> as target, you will not be able to use the license
      <em>{{getLicenseFullName(3)}}</em>! -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <!-- ************************** -->




    <mat-step label="Enter Legal Disclaimer" state="enterLegalText" [stepControl]="stepperFormGroup.get('disclaimerSlideText')">
      <mat-form-field style="width: 100%;">
        <mat-label>Disclaimer Text</mat-label>
        <textarea matInput rows="10" placeholder="Please enter the text on the legal dislaimer slide" formControlName="disclaimerSlideText"
          style="height: auto"></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <!-- uncomment the next line once the querying of the database is working again -->
        <!--<button mat-button matStepperNext>Next</button>-->
        <button mat-button (click)="closeStartDialog()">Next</button>
      </div>
    </mat-step>
    <!--<mat-step label="How to proceed" state="askForSearch">
      <p>Would you like to check against the database, if any of the images in the file were already replaced or made OER before (possibly in some other context)?</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="closeStartDialog()">No, thanks</button>
      <button mat-button matStepperNext>Yes, search database</button>
    </mat-step>
    <mat-step label="Search Database" state="searchDatabase" optional>
      <ng-container *ngIf="_loadSearchDatabaseComponent">
        <app-search-database-for-occurences [images]="_images | async"></app-search-database-for-occurences>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="closeStartDialog()">Okay!</button>
      </ng-container>
    </mat-step>-->

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="chooseFile">
      <mat-icon>insert_drive_file</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="enterUserName">
      <mat-icon>person</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="enterTargetLicense">
      <mat-icon>gavel</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="enterLegalText">
      <mat-icon>assignment_late</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="askForSearch">
      <mat-icon>help</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="searchDatabase">
      <mat-icon>image_search</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</div>