<app-header
  (go-back)="goToMain()"
  [title]="getToolbarTitle()"
  [more-buttons]="[downloadFeedbackButton]"
></app-header>
<div class="container">
  <ng-container *ngIf="feedback | async as feedback">
    <mat-card *ngFor="let singleFeedback of feedback.reverse()">
      <mat-card-header>
        <mat-card-title>By: {{singleFeedback.name}}</mat-card-title>
        <mat-card-subtitle>{{singleFeedback.time}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{singleFeedback.freeText}}
        </p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
