@import "src/styles";

.container {
  padding: 1em;
  box-sizing: border-box;
  @extend .stretch-x;
  @extend .stretch-y;
  background-color: $default-background-color;
}

.mat-card {
  margin-bottom: 1em;
}
