button[mat-mini-fab] {
  position: absolute;
  right: 2.5%;
  bottom: -1.5em;
  color: white;
}

#image-wrapper {
  // margin-top: 40%;
  position: relative;
  display: block !important;
  // I actually have no idea why this is necessary now... but it fixes the issue that the image was moved up by its half
  transform: translate(-50%, 0);

}
