<div class="wrapper">
  <div *ngIf="(image$ | async) as image"  style="height: 100%;">
    <div id="image-viewer" #ImageViewer>
      <div id="image-wrapper" class="absolut-center" [style.height]="imgHeight">
        <img [src]="image.edited ? image.edited.base64 : image.thumbnailSource" [ngClass]="getCssClass()" #Image>
        <button
          mat-mini-fab
          matTooltip="Crop or rotate this image"
          matTooltipPosition="above"
          color="accent"
          (click)="this.editImageEventEmitter.emit()"
          [disabled]="isEditButtonDisabled$ | async"
        ><mat-icon>crop_rotate</mat-icon>
        </button>
      </div>
    </div>
    <div id="image-details" *ngIf="image.edited; then ShowEditedInfo else ShowOriginalInfo"></div>
    <ng-template #ShowEditedInfo>
      Size: {{image.edited.dimension.width}}x{{image.edited.dimension.height}} (~{{image.edited.dimension.ratio.toFixed(mainConfig.imageRatioFractionDigits)}}) <br>
      License: <a [href]="image.licenseUrl" target="_blank">{{humanReadableLicenses[image.license]}} {{image.licenseVersion}}</a>
    </ng-template>
    <ng-template #ShowOriginalInfo>
        Size: {{image.edited ? image.edited.dimension.width : image.dimension.width}}x{{image.dimension.height}} (~{{image.dimension.ratio.toFixed(mainConfig.imageRatioFractionDigits)}}) <br>
        License: <a [href]="image.licenseUrl" target="_blank">{{humanReadableLicenses[image.license]}} {{image.licenseVersion}}</a>
    </ng-template>
  </div>
</div>
