@import "src/styles";

$image-max-size-x: 100%;
$image-max-size-y: 10em;
$image-on-hover-animation-duration: 300ms;
$image-background-color-on-blur: inherit;
$image-background-color-on-hover: gray;
$image-background-color-on-selected: $image-background-color-on-hover;

@function transform-selected-image() {
  @return scale(1.3);
}
@function animate-selected-image() {
  @return 300ms ease-in-out;
}

/**
  holds the image and applies some effects
 */
.image-wrapper {
  //
  /*max-width: $image-max-size-x;
  max-height: $image-max-size-y;*/
  overflow: hidden;
  /*-webkit-transition: animate-selected-image();
  -moz-transition: animate-selected-image();
  -o-transition: animate-selected-image();
  transition: animate-selected-image();*/
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /**
  tells the image to adhere to parent's size and sets some transition options
 */
  img {
    max-width: 100%;
    max-height: 100%;
  }

  /**
      applies an animation on hover
    */
  /*&:hover {
    animation: fadeBackgroundColor $image-on-hover-animation-duration ease !important;
    background-color: $image-background-color-on-hover !important;

    @keyframes fadeBackgroundColor {
      0% {background-color: $image-background-color-on-blur;}
      100% {background-color: $image-background-color-on-hover;}
    }
  }*/
}

/*.selected {
  background-color: $image-background-color-on-selected;
  transform: transform-selected-image();
  -webkit-transform: transform-selected-image();
  -moz-transform: transform-selected-image();
  -o-transform: transform-selected-image();
  -ms-transform: transform-selected-image();
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: .5em -.5em 10px $image-background-color-on-selected;
}*/
