<h1 mat-dialog-title>Got time for a feedback? Your feedback would help us improve the app furthur.</h1>
<div mat-dialog-content>
  <p>

    <!-- Hello there, we'd like to know if you liked this tool and what could we do to make the tool better? Would you like us
    to know something or even want to give as a compliment? -->
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">No, thanks</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes, I do</button>
</div>
