@import "src/styles";

.wrapper {
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 1%;
  box-sizing: border-box;

  mat-card {
    margin: .5%;
    float: left;

    mat-card-content {
      width: 350px;
      min-height: 350px;
      @extend .pointer-on-hover;

      /**
      holds the image and applies some effects
      */
      .image-wrapper {
        overflow: hidden;
        height: 350px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;

        /**
        tells the image to adhere to parent's size
        */
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .image-info {
        margin-top: 1em;

        p {
          $margin-between-info-items: .25em;
          padding: 0;
          margin-top: $margin-between-info-items;
          margin-bottom: $margin-between-info-items;

          a:link, a:visited, a:hover, a:active {
            color: blue !important;
          }

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        };
      }
    }
  }
}
