@import "src/styles";

#images-from-file-container {
  background-color: $default-background-color;
  @extend .stretch-xy
}

/*
  This is supposed to catch the whole screen that is being used for displaying the app
 */
#full-screen {
  @extend .stretch-xy
  // overflow: hidden;   // keep this out for dev purposes
}

#main-screen {
  @extend .stretch-xy
}

#online-image-search-container {
  background-color: darken($default-background-color, 3%);
  height: 100%;
}

#compare-images {
  background-color: $default-background-color;
  height: 100%;
}

#make-oer {
  background-color: darken($default-background-color, 3%);
  height: 100%;
}

::ng-deep .mat-tab-body-wrapper, .mat-tab-body {
  height: calc(100% - 3em); // it seems that the height of the MatTabHeader is not considered when calculating 100% height
}

::ng-deep .mat-tab-header {
  height: calc(3em - 1px);  // give it a constant height to work around the problem that the height of this does not
                            // seem to be considered when calculating 100% height for the body
}
