<app-loading-spinner></app-loading-spinner>
<ng-container *ngIf="showMainScreen">
  <div fxLayout="column" fxLayoutAlign="start" class="full-screen">
    <app-header
      (save-file)="onSaveFile()"
      (load-file)="loadNewFile()"
      [title]="_session.getToolName() + ' ' + _session.getCurrentToolVersion()"
    ></app-header>
    <div id="images-from-file-container">
      
      <app-image-gallery
        *ngIf="images"
        [images]="images"
        [show-info]="showInfoOptions"
        (click)="openBottomSheetActions($event)"
      ></app-image-gallery>
    </div>
  </div>
</ng-container>

