<app-header
  (go-back)="goToMain()"
  [title]="getToolbarTitle()"
></app-header>
<div class="container">
  <div class="selected-image-area">
    <img alt="The image that was chosen to be replaced" [src]="getCurrentlySelectedImageFromFile().base64.toString()">
  </div>
  <app-oer-formular (submit)="makeOer($event)" button-text="Make OER"></app-oer-formular>
</div>
