<h1 mat-dialog-title>Image to be replaced, {{getSizeString()}}</h1>
<div mat-dialog-content>
  <img [src]="getCurrentImageFromFile().base64.toString()">
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Ok</button>
</div>
