@import "src/styles";

.container {
  padding: 1em;
  box-sizing: border-box;
  @extend .stretch-xy;
  background-color: $default-background-color;
}

button {
  bottom: 1em;
  right: -1em;
  left: 1em;
  position: absolute;
  width: calc(100% - 2em);
  box-sizing: border-box;
}

.selected-image-area {
  height: 400px;
  width: 80%;
  min-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
