<app-header
  (go-back)="goToMain()"
  [title]="getToolbarTitle()"
></app-header>
<div class="container">
  <div class="selected-image-area">
    <img alt="The image that was chosen to be exckuded from the overall license of the resulting file" [src]="getCurrentlySelectedImageFromFile().base64.toString()">
  </div>



  <form [formGroup]="formGroup" fxLayout="column" fxLayoutAlign="space-around stretch" (submit)="excludeImage()">
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input
        matInput
        formControlName="description"
        placeholder="the logo of Fantasy Inc."
      />
    </mat-form-field>

    <!-- Success response...
    <h1 *ngIf="showMessageToUser">Modification was successful.</h1> -->


    <button mat-raised-button color="accent" [disabled]="!formGroup.valid">Exclude</button>
  </form>
</div>
