@import "src/styles";

.wrapper {
  @extend .stretch-xy;
  overflow-y: auto;
  background-color: $default-background-color;
}

form {
  padding: 1em;
}

.form-wrapper {
  @extend .stretch-x;
}

.image-results-wrapper {
  @extend .stretch-x; // leave it here, otherwise some anchestor div begins to show y scroll bar
}

#pagination-wrapper {
  width: 100%;
  height: auto;

  button {
    width: 45%;

    &#left-paginator {
      float: left;
      margin-left: 2%;
    }

    &#right-paginator {
      float: right;
      margin-right: 2%;
    }
  }
}
