<app-loading-spinner></app-loading-spinner>
<div fxLayout="column" fxLayoutAlign="start" class="full-screen">
  <app-header
    (go-back)="goToMain()"
    (show-selected-image-from-file)="showSelectedImageFromFile()"
    [title]="session.getToolName() + ' ' + session.getCurrentToolVersion()"
  ></app-header>
  <div class="wrapper">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="form-wrapper">
      <form [formGroup]="searchFormGroup" fxFlex (submit)="currentPage = 1; submitQuery()">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <mat-form-field fxFlex="">
            <input matInput formControlName="query" placeholder="keywords" required/>
          </mat-form-field>
          <button
            mat-raised-button
            matTooltip="Search for the given words"
            matTooltipPosition="above"
            color="accent"
            [disabled]="!searchFormGroup.valid"
            type="submit"
          >
            Search
          </button>

          <!-- Removed the Auto button because the feature is not implemented and has bugs -->
          <!-- <button
            mat-raised-button
            matTooltip="Automatically recognize the image and search for suitable words"
            matTooltipPosition="above"
            color="accent"
            (click)="getAutoImageResults()"
            type="button"
          >
            Auto
          </button> -->


        </div>
        <mat-form-field fxFlexFill>
          <mat-label>Select Source</mat-label>
          <mat-select formControlName="targetApi" required (selectionChange)="currentPage = 1" multiple>
            <mat-option *ngFor="let api of externalImageSearchApis" [value]="api.key" >
              {{api.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlexFill>
          <mat-label>Select License</mat-label>
          <mat-select formControlName="license" required multiple>
            <mat-option *ngFor="let license of licenses" [value]="license">
              {{licensesHumanReadable[license]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div *ngIf="showPagination" id="pagination-wrapper" fxFlex>
        <button
          mat-raised-button
          matTooltip="Previous page of results"
          matTooltipPosition="above"
          color="accent"
          id="left-paginator"
          [disabled]="currentPage === 1"
          (click)="currentPage = currentPage - 1; submitQuery();"
        > << </button>
        <button
          mat-raised-button
          matTooltip="Next page of results"
          matTooltipPosition="above"
          color="accent"
          id="right-paginator"
          [disabled]="!hasNextPage"
          (click)="currentPage = currentPage + 1; submitQuery()"
        > >> </button>
      </div>
    </div>
    <div class="image-results-wrapper">
      <app-search-image-online-results [standardized-results]="searchStandardizedResultsSubject.asObservable()" (select)="onSelectedImage($event)" [clear-selection]="clearSelection$"></app-search-image-online-results>
    </div>
  </div>
</div>
