@import "src/styles";

.container {
  @extend .stretch-xy;
  overflow-y: auto;
  padding: 1em;
  box-sizing: border-box;
  background-color: $default-background-color;
}

/*button {
  bottom: 1em;
  right: -1em;
  left: 1em;
  position: absolute;
  width: calc(100% - 2em);
  box-sizing: border-box;
}*/

.selected-image-area {
  max-width: 100%;
  height: 400px;
  width: 80%;
  min-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  button {
    position: absolute;
    left: 100%;
    bottom: 0;
    color: white;
    width: 4em;
    height: 4em;
  }
}
