@import "src/styles";

.wrapper {
  @extend .stretch-y;
  box-sizing: border-box;
  padding: .5em;
}

img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#image-viewer {
  height: 90%;
  // padding: .5em;
  position: relative;
}

#image-details{
  /*@extend .stretch-x;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2em;
  height: fit-content !important;
  background-color: blue;
  box-sizing: border-box;*/
  padding-top: .5em;
}

button[mat-raised-button] {
  bottom: 1em;
  right: -1em;
  left: 1em;
  position: absolute;
  width: calc(100% - 2em);
  box-sizing: border-box;
}
