<div class="wrapper" style="position: relative;">
  <div style="height: calc(100% - 4.5em)">
    <div class="half-height">
      <app-show-from-file [image]="imageFromFile$"></app-show-from-file>
    </div>
    <div class="half-height">
      <app-show-from-external-api [image]="imageFromApi$" (edit-image)="editExternalImageEventEmitter.emit()" [disable-edit-button]="subjectIsEditButtonOfImageFromExternalApiDisabled.asObservable()"></app-show-from-external-api>
    </div>
  </div>
  <button mat-raised-button color="accent" [disabled]="buttonActionReplaceImageDisabled" (click)="replaceImage()">Replace</button>
</div>
