<div class="wrapper">
  <div *ngIf="image$ | async as image" style="height: 100%;">
    <div id="image-viewer" #ImageViewer>
      <img [src]="image.base64" [ngClass]="getCssClass()">
    </div>
    <div id="image-details" *ngIf="!(componentOptions && componentOptions.hideSizeInfo)">
      Size: {{image.dimension.width}}x{{image.dimension.height}} (~{{image.dimension.ratio.toFixed(mainConfig.imageRatioFractionDigits)}})
    </div>
  </div>
</div>
