/**
  these are global variables
 */
$default-background-color: #c3c3c3;

@mixin percent-of-height($percent) {
  min-height: $percent;
  height: $percent;
  max-height: $percent;
}

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 96.8% !important; // I have no idea where those missing percentages went, but at least it works this way
                            // tested on chrome 79.0.3945.130 (Official Build) (64-Bit), Windows 10
  width: 100vw !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pointer-on-hover {
  cursor: pointer;
}

.stretch-xy {
  @extend .stretch-x;
  @extend .stretch-y;
}

.stretch-x {
  min-width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

.stretch-y {
  min-height: 100% !important;
  max-height: 100% !important;
  height: 100% !important;
}

.overflow-auto {
  overflow: auto;
}

.half-height {
  @include percent-of-height(50%);
}

.absolut-center {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vertical-center {
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  margin: auto;
}

.image-ratio-at-least-one {
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: fit-content
}

.image-ratio-smaller-than-one {
  width: auto;
  height: 100%;
  max-height: fit-content;
  max-width: 100%
}

/*
  This is supposed to catch the whole screen that is being used for displaying the app
 */
.full-screen {
  @extend .stretch-xy
  // overflow: hidden;   // keep this out for dev purposes
}

