<mat-toolbar color="primary" class="wrapper">
  <!--<span class="load-file">
    <button mat-raised-button (click)="onLoadFileEventEmitter.emit()" color="accent">Load File</button>
  </span>-->
  <span class="actions">
    <button mat-raised-button (click)="onSaveFileEventEmitter.emit()" color="accent">Save File</button>
  </span>
</mat-toolbar>
